<div>
  <h2>Log in</h2>
</div>

<%= form_tag login_path do %>
  <div>
    <%= text_field_tag :username, nil, placeholder: 'Name' %><br />
  </div>
  <div>
    <%= password_field_tag :password, nil, placeholder: 'Password' %><br />
  </div>
  <br />
  <div>
    <%= submit_tag 'Log in' %>
  </div>
<% end %>
