<h1> Podcast Categories </h1>

<ul>
<% @categories.each do |category| %>
     <li> <%= category.name %> </li>
     <ul>
     <% category.podcasts.each do |podcast| %>
          <li><a href="<%= podcast_path(podcast)  %>"><%= podcast.name %></a> </li>
     <% end %>
     </ul>
<% end %>

</ul>

<%= link_to 'Most Recent Podcasts', most_recent_podcasts_path %>

