<h1> Reviews for <%= @podcast.name %> </h1>

<h4> <ul> <% @reviews.each do |review| %> 
    <li> <%= review.stars %><br>
    <%= review.description %>
    <br>
    <%= review.user.username %>
    <br>

    </li>
    <% end %>